version: "3.9"

services:
  web:
    build:
      context: .
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.running.entrypoints=web,websecure
      - traefik.http.services.running.loadbalancer.server.port=3000
      - traefik.http.routers.running.rule=Host(`running.silasbeckmann.de`)
      - traefik.http.routers.running.tls=true
      - traefik.docker.network=traefik_proxy-net
      - traefik.http.middlewares.running.headers.SSLRedirect=true
      - traefik.http.middlewares.running.headers.STSSeconds=315360000
      - traefik.http.middlewares.running.headers.browserXSSFilter=true
      - traefik.http.middlewares.running.headers.contentTypeNosniff=true
      - traefik.http.middlewares.running.headers.forceSTSHeader=true
      - traefik.http.middlewares.running.headers.SSLHost=${DOMAIN_NAME:-running.silasbeckmann.de}
      - traefik.http.middlewares.running.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.running.headers.STSPreload=true
      - traefik.http.routers.running.middlewares=running@docker
    networks:
      - traefik_proxy-net

networks:
  traefik_proxy-net:
    external: true
