version: "3.9"

services:
  web:
    build:
      context: .
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
